<?xml version="1.0"?>
<configuration>
	<!-- All pages -->
	<location path="/%">
		<formparameters>
			<allow param="*" />
		</formparameters>
		<queryparameters>
			<allow param="*" />
		</queryparameters>
	</location>

	<!-- Processing pages / only allowed parameters / no inheritance -->
	<!--<location page="CMSPages/GetFile.aspx">
		<queryparameters>
			<allow param="width" />
			<allow param="height" />
			<allow param="maxsidesize" />
			<allow param="guid" />
			<allow param="nodeguid" />
			<allow param="versionhistoryid" />
		</queryparameters>
	</location>-->


	<!-- SCHEMA OF THE SETTINGS
	<location path="">
		<formparameters>
			<allow param="" />
			<deny param="" />
		</formparameters>
		<queryparameters>
			<allow param="" />
			<deny param="" />
		</queryparameters>
	</location>
	   
	<location page="">
		<formparameters>
			<allow param="" />
			<deny param="" />
		</formparameters>
		<queryparameters>
			<allow param="" />
			<deny param="" />
		</queryparameters>
	</location>
	-->
</configuration>
