<form>
  <field column="ArticleID" fieldcaption="Article ID" visible="true" columntype="integer" fieldtype="label" allowempty="false" isPK="true" columnsize="" fielddescription="">
    <settings />
  </field>
  <field column="ArticleName" fieldcaption="Article Name" visible="true" columntype="text" fieldtype="textbox" columnsize="450" allowempty="false" fielddescription="">
    <settings />
  </field>
  <field column="ArticleText" fieldcaption="Article Text" visible="true" columntype="text" fieldtype="htmlarea" allowempty="true" columnsize="" fielddescription="">
    <settings>
      <width>
      </width>
      <height>
      </height>
    </settings>
  </field>
</form>
 